$background-from: #FBF9EE;
$background-to: #E8ECE7;
$confirm-color: #D0D752;
$text-color: #000;

.city-input {
  background: linear-gradient(125deg, $background-from 0%, $background-to 100%) no-repeat center center fixed;
  background-size: cover;
  padding: 4rem 5rem;
  margin-top: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height: 26rem;

  div:first-child {
    padding: 2rem;
  }

  &__enter-box {
    box-shadow: 13px 12px 15px grey;
    background: #FFF;
  }

  &__input-and-add {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

    /* location */
    label {
      font-weight: bold;
      padding-left: 2rem;
      margin: 0;
      line-height: 5rem;
    }


    /* add city */
    button {
      border: none;
      background: transparent;
      font-size: 5rem;
      line-height: 5rem;
      color: $confirm-color;
      font-weight: bold;
    }
  }

  &__query-fields {
    position: relative;
    line-height: 5rem;
    > input {
      position: relative;
      top: 0;
      left: 0;
      z-index: 3;
      border: none;
      background: transparent;
    }

    > input:nth-child(2) {
      position: absolute;
      z-index: 2;
      color: $text-color;
      background: #fff;
    }
  }

  &__suggestions {
    border-top: 1px solid #ccc;
    color: $text-color;
    background: #fff;
    position: relative;
    z-index: 2;

    /* select match */
    button {
      background: inherit;
      border: none;
      padding: .5rem 0;
      display: block;
      width: 100%;
      border-radius: 0;
    }

    button:hover {
      background: #eee;
      text-decoration: none;
    }
  }
}
